@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://use.typekit.net/jxw0jvb.css");

.bg-nav {
  background-color: rgb(255 255 255 / 80%);
}

body {
  margin: 0;
  padding: 0;
}

.text {
  color: #272a31;
}

.notes-1 {
  color: #ec5242;
}
.banner-title{
  color: #ec5242;
}

.grand-haile {
  color: #d3d3d3;
}

* {
  font-family: 'lato', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 46px;
  font-weight: bold;
}

h2 {
  font-size: 27px;
}

p{
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  width: 90%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-colm1 {
  width: 18%;
}

.card-colm2 {
  width: 26%;
}

.card-colm4 {
  width: 59%;
}

.colm-1 {
  width: 100%;
}

.site {
  display: none;
}

.nav-head {
  display: none;
}

.nav-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 100%;
  min-height: 48px;
  position: absolute;
  align-items: center;
  background-color: transparent;
  left: 0;
  z-index: 999;
  top: 0;
}

.nav-main .mainnav {
  display: flex;
  padding: 24px 0;
  align-items: center;
}

.nav-main .mainnav .nav-menus {
  position: fixed;
  right: -110%;
  gap: 0;
  top: 78px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255 255 255 / 80%);
  width: 100%;
  text-align: left;
  transition: 0.3s;
  align-items: flex-start;
  /*height: 100vh;
  z-index: 999;*/
  list-style-type: none;
}

.nav-menus li{
  display: flex;
  flex-direction: row;

}

.nav-main .mainnav .nav-menus.active {
  margin-top: 0;
  right: 0;
}
.nav-main .mainnav .nav-menus .nav-item {
  margin: 8px 0;
}

.nav-main .mainnav .nav-menus .nav-item .navigation-link {
  color: #272a31;
  font-size: 20px;
  line-height: 44px;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  font-family: '';
}

.nav-main .mainnav .nav-menus .nav-item .navigation-link:hover {
  color: #ec5242;
}

.icon {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.4s ease;
  background-color: #272a31;
}

.icon.active .bar:nth-child(2) {
  opacity: 0;
}

.icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #93a79d;
}

.icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #93a79d;
}

/*banner-part*/
#banner-info {
  background-image: url("./images/hear1.webp");
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/bg.png");
  background-position: center;
  background-size: cover;
  padding: 141px 0 90px;
}

.banner-text {
  text-align: left;
  color: #ec5242;
}

.hello {
  font-size: 28px;
  line-height: 100%;
  margin: 0;
}

.banner-title {
  margin: 0;
  line-height: 100%;
  background-image: url("./images/hear1.webp");
  background-color: #ec5245;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-family: 'COCOGOOSE', sans-serif;
}

.information-text {
  color: #272a31;
  background-color: rgb(212 212 212 / 21%);
  padding: 24px;
  border: 2px solid white;
  margin: 48px 0;
}

.banner-schedule {
  font-size: 42px;
  font-family: 'COCOGOOSE', sans-serif;
}

.haile-1 {
  margin: 0;
}

.po-1 {
  padding: 0;
}

.space-line {
  height:24px;

}

.spacing-1 {
  height: 12px;
}

.spacing-3 {
  height: 48px;
}

.spacing-2 {
  height: 58px;
}

.spacing-4 {
  height: 64px;
}

.separator {
  background-color: #ec5242;
  width: 61px;
  margin-top: 5px;
  height: 3px;
}

.gray-separator {
  height: 3px;
  background-color: #d3d3d3;
  width: 48px;
  margin-top: 5px;
}

hr {
  background-color: #d3d3d3;
  height: 2px;
}

#program-main {
  background-image: url("./images/bg-dark.png");
  background-repeat: repeat;
}

.card {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(211 211 211 /20%);
}

.card-li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cicon1 i{
  font-size: 48px;
  color: white;
}

#performer .card-li {
  gap: 24px;
}
/* performers infomations left here */
.card-performer {
  display: grid;
  grid-template-columns: 33% auto;
  grid-template-rows: auto;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: center;
}

.card-performer:nth-child(n+3) {
  display: none;
}

.performers-t {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.performers-t .name {
  font-size: 24px;
  margin: 0;
}

.performers-t .desigination {
  font-style: italic;
  margin: 0;
}

.performers-t p {
  margin: 0;
}

.performer-photos {
  width: 100%;
  padding: 10% 0 0 10%;
  background-image: url("./images/frame.jpg");
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1/1;
}

button,
.button {
  padding: 24px 48px;
  line-height: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-prime {
  font-weight: bold;
  background-color: #ec5242;
  color: #d3d3d3;
}

.btn-prime:hover {
 background-color: rgb(236 84 66 / 94%);
}

.btn-w {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #fff;
}

.btn-w i{
  color: #ec5242;
}

.btn-pro {
 text-decoration: none;
}

/*about*/
#about-part .banner-text {
  text-align: center;
}

#about-part .logo-b { 
  padding: 24px;;
  background-color: white;
  border: 2px solid #d3d3d3;
}

.partners-logo img {
  height: 50px;
  width: auto;
}

#about-part .logo-bo img {
  width: 100%;
  height: auto;
}

#about-part .previous-pro {
  gap: 24px;
}

#about-part .pre-pro {
  position: relative;
}

#about-part .pre-programs1 {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  filter: grayscale(100%);
}

#about-part .pre-program-screen {
  background-color: rgb(236 82 66 / 75%);
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

#about-part .pre-program-screen .programs-year {
  font-size: 32px;
}

#about-part .pre-program-screen .description-program {
  font-weight: bold;
}

#logos {
  background-color: #d3d3d4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* done below*/
#partner {
  background-color: #414246;
}

#all #partner {
  display: none;
}

.partners-logo {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 24px;
}

.mint {
  filter: grayscale(1);
}

.who {
  filter: invert(1);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

#all footer {
  display: none;
}

footer .footer-logo {
  width: auto;
  max-height: 42px;
}

.do-grid {
  display: grid;
  transition: all 500ms ease;
}

@media screen and (min-width:768px){

  .col-md-1 {
    width: 100%;
  }

  .col-md-2 {
    width: 83%;
  }

  .col-md-3 {
    width: 50%;
  }


  .nav-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #272a31;
    padding: 0 5%;
  }
  .nav-head .menu-item {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
  }

  .nav-head .menu-item .menu-item-link {
    text-decoration: none;
    color: #d3d3d3;
    font-size: small;
  }

  .nav-head .menu-item .menu-item-link:hover {
    color:#ec5247
  }
  
  .nav-main {
    width: 100%;
    position: fixed;
    background-color: #fff;
  }

  .nav-logo {
    width: auto;
    height: 40px;
  }

  .mainnav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
   
  }

  .nav-main .mainnav .nav-menus {
    position: fixed;
    right: 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    top: 20px;
  }

  .site {
    display: block;
  }

  .icon {
    display: none;
  }

  .nav-menus {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    text-align: right;
    transition: 0.3s;
    align-items: center;
    z-index: 999;
    list-style-type: none;
    justify-content: flex-end;
    right: 0;
    background: transparent;
    top: 0;
  }

  .nav-item {
    margin: 0;   
  }

  .navigation-link {
    font-size: 16px;
    transition: 500ms ease;
    line-height: 100%;
  }

  .navigation-link:hover {
    color: #ec5245;
  }

  #beawre {
    border: 2px solid #ec5242;
    color: #ec5247;
  }

  #beawre:hover,
  #beawre:active {
    border-color: #272a31;
    color: #272a31;
  }

  #banner-info .container {
    align-items: flex-start;
  }

  #banner-info .information-text {
    width: 70%;
  }

  #program-main .card-li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 8px;
  }

  #program-main .card-li .card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px 17px;
    background-color: rgb(211 211 211 /20%);
    transition: 500ms ease;
  }
  #program-main .card-li .card:hover {
    cursor: pointer;
    transform: scale(1.07);
    border: 2px solid #d3d3d4;
  }

#performer .card-li {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1 10%;
  column-gap: 24px;
  row-gap: 24px;

}
#performer .btn-w {
  display: none;
}

.performers-t {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
  
.performers-t .name {
  margin: 0;
  font-size: 16px;
}

.performers-t  .desigination {
  font-size: 15px;
  font-style: italic;
  margin: 0;
}

.performers-t p {
  font-size: 15px;
  margin: 0;
}

.partners-logo {
  justify-content: space-around;
  font-size: 58px;
}


.container .partners-logo {
  display: flex;
  flex-direction: row;
}

.container .partners-logo .who {
  width:12%;
  height:12%;
}

.container .partners-logo .mint {
  width:12%;
  height:12%;
}
.card-performer:nth-child(n+3) {
  display: grid;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 24px 32px;
}
footer .footer-logo {
  width: 10%;
  height: 12%;
  font-weight: bold;
}

#all #partner,
#all footer {
  display: flex;
}

#about-part #banner-info .container {
  align-items: center;

}
#about-part .previous-pro {
  flex-direction: row;
}

#about-part #partner {
  display: none;

}
#about-part footer {
  color: #fff;
  background-color: #272a32;
}
#about-part footer  .footer-logo{
  filter: invert(1);
}

.space-line {
  height: 9px;
}

.btn-pro {
  text-decoration: underline;
  text-transform: uppercase;
  background: transparent;
  color: #d3d3d3;
  font-size: 18px;
  transition: 500ms ease;
  padding: 0;
}

.btn-pro:hover {
  background: transparent;
  color: #ec5245;
}

.home-link {
  display: none;
}
}

/* Mobile version */
@media screen and (max-width:768px) {

  .container {
    width:92%;
  }
  .banner-schedule {
    font-size: 24px;
  }

  .banner-title {
    font-size: 35px;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211 211 211 /20%);
    padding: 0 13px;
  }

  .card i {
    font-size: 34px;
  }

  .card p {
    font-size: 12px;
  }
  .card h3 {
    font-size: 15px;
  }

  .performers-t {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .performers-t .name {
    margin: 0;
    font-size: 15px;
  }

  .performers-t .desigination {
    margin: 0;
    font-size: 13px;
    font-style: italic;
}

.performers-t p {
  margin: 0;
  font-size: 13px;
}

.space-line {
  height: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .right {
  text-align: center;
}

footer .footer-logo {
  width: auto;
  max-height: 42px;
}

}